html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}


img {
    width: 150px;
    height: 150px;
}

section {
    margin: 0;
    padding: 0;

}

#top {
    /* background-color: #3b2c85; */
    /* background: linear-gradient(135deg, #0079BF 0%, #5067C5 100%); */
    background-image: url('img/white-2398955_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;

}

.logo:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);

}

a{
    color: darkslategray !important;
}
.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid darkslategray;
}